@use "../abstracts/" as *;

.cta {
  max-width: get-clamp(39.6875rem, 45.1875rem, 48rem, 58rem);

  @include mq($bp-tablet) {
    min-height: 31.8125rem;
    background-color: $clr-bg-dark;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__text {
    @include mq($until: $bp-tablet) {
      display: grid;
      justify-items: center;
    }
  }

  &__title {
    margin-top: 3.5rem;
    max-width: 25ch;

    @include mq($bp-tablet) {
      margin-top: 0;
    }
  }

  &__desc {
    margin-top: get-clamp(1rem, 1.5rem, 23.4375rem, 48rem);
    max-width: 40ch;
  }

  &__logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;

    @include mq($bp-tablet) {
      justify-content: flex-start;
      gap: get-clamp(1.5rem, 2.5rem, 37.5rem, 42rem);
      margin-top: 4rem;
      order: 1;
    }
  }

  &__logo {
    @include mq($until: $bp-tablet) {
      max-width: 3.5rem;
    }
  }
}
