@use "../abstracts/" as *;

.cta {
  padding-inline: 1.5rem;

  &__title {
    margin-top: 3.5rem;
  }

  &__desc {
    margin-top: get-clamp(1rem, 1.5rem, 23.4375rem, 48rem);
  }

  &__logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
  }

  &__logo {
    max-width: get-clamp(3.5rem, 6rem, 20rem, 32.5rem);
  }
}
