@use "../abstracts/" as *;

.header {
  display: flex;
  justify-content: center;
  padding-top: 3.9rem;

  @include mq($bp-tablet) {
    justify-content: flex-start;
    padding-top: 3.125rem;
  }

  @include mq($bp-desktop) {
    padding-top: 0;
    transform: translateY(-50%);
  }
}
