@use "../abstracts/" as *;

.btn {
  padding: 0.56rem 1.7rem;
  background: $clr-main;
  border-radius: 100rem;
  transition: background 0.25s ease-in;

  &:hover,
  &:focus {
    background: lighten($clr-main, 20);
  }
}
