@use "../abstracts/" as *;

@font-face {
  font: {
    family: "Chivo";
    weight: 100 700;
  }
  src: url("../assets/fonts/Chivo-VariableFont_wght.ttf");
}

body {
  font: 100 0.875rem / 1.75rem "Chivo", sans-serif;
}

.text-white {
  color: $clr-white;
}

.cta {
  &__text {
    text-align: center;

    @include mq($bp-tablet) {
      text-align: left;
    }
  }

  &__title {
    font-size: get-clamp(1.625rem, 3.25rem, 23.4375rem, 52rem);
    line-height: get-clamp(2.375rem, 3.875rem, 23.4375rem, 52rem);
    text-transform: uppercase;
    color: $clr-main;
  }

  &__desc {
    font-size: get-clamp(0.9375rem, 1.125rem, 23.4375rem, 52rem);
    line-height: get-clamp(1.5625rem, 1.75rem, 23.4375rem, 52rem);
    color: $clr-text-grey;
  }
}

.form {
  font-weight: 400;

  &__input {
    color: $clr-white;

    &::placeholder {
      color: $clr-text-grey;
      opacity: 0.75;
    }
  }

  &__error-message {
    font-size: 0.8rem;

    [data-validation="invalid"] & {
      color: $clr-error;
    }

    [data-validation="valid"] & {
      color: $clr-main;
    }
  }

  &__btn {
    font-weight: 700;
    color: $clr-bg-dark;
  }
}
