*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  border: none;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Chivo";
  font-weight: 100 700;
  src: url("../assets/fonts/Chivo-VariableFont_wght.ttf");
}
body {
  font: 100 0.875rem/1.75rem "Chivo", sans-serif;
}

.text-white {
  color: #fff;
}

.cta__text {
  text-align: center;
}
@media (min-width: 37.5em) {
  .cta__text {
    text-align: left;
  }
}
.cta__title {
  font-size: clamp(
    1.63rem,
    5.69vw + 0.29rem,
    3.25rem
  );
  line-height: clamp(
    2.38rem,
    5.25vw + 1.14rem,
    3.88rem
  );
  text-transform: uppercase;
  color: #54e6af;
}
.cta__desc {
  font-size: clamp(
    0.94rem,
    0.66vw + 0.78rem,
    1.13rem
  );
  line-height: clamp(
    1.56rem,
    0.66vw + 1.41rem,
    1.75rem
  );
  color: #c2cbe5;
}

.form {
  font-weight: 400;
}
.form__input {
  color: #fff;
}
.form__input::-moz-placeholder {
  color: #c2cbe5;
  opacity: 0.75;
}
.form__input::placeholder {
  color: #c2cbe5;
  opacity: 0.75;
}
.form__error-message {
  font-size: 0.8rem;
}
[data-validation=invalid] .form__error-message {
  color: #fb3e3e;
}
[data-validation=valid] .form__error-message {
  color: #54e6af;
}
.form__btn {
  font-weight: 700;
  color: #121725;
}

body {
  background-color: #121725;
  display: grid;
}
@media (min-width: 37.5em) and (max-width: 62.49em) {
  body {
    padding-bottom: 10rem;
    background: #121725 url("../assets/images/bg-pattern-dots.svg") bottom left 1.88rem no-repeat;
  }
}
@media (min-width: 62.5em) {
  body {
    place-content: center;
  }
}

.background {
  position: relative;
  padding-inline: clamp(
    1.5rem,
    14.32vw + -1.86rem,
    2.44rem
  );
}
@media (max-width: 37.49em) {
  .background {
    min-height: 100vh;
    min-height: 100dvh;
  }
  .background::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: url("../assets/images/mobile/image-host.jpg") center top/cover no-repeat;
    opacity: 0.075;
  }
}
@media (min-width: 37.5em) {
  .background {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    max-height: 47.9375rem;
    background: url("../assets/images/tablet/image-host.jpg") top right clamp( -5rem, 80vw + -35rem, 0rem )/30.6875rem no-repeat;
  }
}
@media (min-width: 62.5em) {
  .background {
    z-index: 10;
    min-width: min(95rem, 100vw);
    overflow-x: clip;
    min-height: 40rem;
    margin-block: 4rem;
    padding-left: clamp(
    2.44rem,
    28.62vw + -15.45rem,
    10.31rem
  );
    background: url("../assets/images/desktop/image-host.jpg") center right clamp( -16rem, 64vw + -56rem, 0rem )/55.5rem no-repeat;
  }
  .background::after {
    content: "";
    position: absolute;
    inset: 0 0 -3.25rem 0;
    z-index: -1;
    background: url("../assets/images/bg-pattern-dots.svg") bottom right no-repeat;
  }
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 3.9rem;
}
@media (min-width: 37.5em) {
  .header {
    justify-content: flex-start;
    padding-top: 3.125rem;
  }
}
@media (min-width: 62.5em) {
  .header {
    padding-top: 0;
    transform: translateY(-50%);
  }
}

.cta {
  max-width: clamp(
    39.69rem,
    55vw + 13.29rem,
    45.19rem
  );
}
@media (min-width: 37.5em) {
  .cta {
    min-height: 31.8125rem;
    background-color: #121725;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
@media (max-width: 37.49em) {
  .cta__text {
    display: grid;
    justify-items: center;
  }
}
.cta__title {
  margin-top: 3.5rem;
  max-width: 25ch;
}
@media (min-width: 37.5em) {
  .cta__title {
    margin-top: 0;
  }
}
.cta__desc {
  margin-top: clamp(
    1rem,
    2.04vw + 0.52rem,
    1.5rem
  );
  max-width: 40ch;
}
.cta__logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
@media (min-width: 37.5em) {
  .cta__logo-container {
    justify-content: flex-start;
    gap: clamp(
    1.5rem,
    22.22vw + -6.83rem,
    2.5rem
  );
    margin-top: 4rem;
    order: 1;
  }
}
@media (max-width: 37.49em) {
  .cta__logo {
    max-width: clamp(
    3rem,
    20vw + -1rem,
    6rem
  );
  }
}

.form {
  position: relative;
  display: grid;
  gap: 1rem;
  margin-top: 3rem;
}
@media (min-width: 31.25em) {
  .form {
    gap: 0.5rem;
    grid-template-columns: 1fr auto;
    background-color: #2c344b;
    border-radius: 100rem;
    padding: 0.31rem;
  }
}
@media (min-width: 37.5em) {
  .form {
    margin-top: 2.5rem;
    max-width: 26.6875rem;
  }
}
.form__input {
  padding: 0.56rem 2rem;
  background-color: #2c344b;
  border: none;
  border-radius: 100rem;
}
[data-validation=invalid] .form__input {
  outline: 0.2em dashed #fb3e3e;
}
.form__input:focus, [data-validation=valid] .form__input {
  outline: 0.2em solid #54e6af;
}
.form__error-message {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  transform: translate(2.31rem, 1.85rem);
}
[data-validation=invalid] .form__error-message, [data-validation=valid] .form__error-message {
  visibility: visible;
}

.btn {
  padding: 0.56rem 1.7rem;
  background: #54e6af;
  border-radius: 100rem;
  transition: background 0.25s ease-in;
}
.btn:hover, .btn:focus {
  background: #adf3d9;
}/*# sourceMappingURL=main.css.map */